BD senapesca 2000-2020.xlsx
Biomasa y Abundancia a la talla sardina común y anchoveta - RECLAS Mayo 2021.xlsx
Comp SComún_2020-2021 CS-FT.xlsx
Estructura de talla scomun_anchov ene-jun 2021 (preliminar).xlsx
TABLA_Comp-abundancia crucero reclas 21-05_MariaJosé.xlsx
pesos iniciales sardina _ julio2021.xlsx
pesos iniciales sardina _ sept2020.xlsx
~$BD senapesca 2000-2020.xlsx
~$Biomasa y Abundancia a la talla sardina común y anchoveta - RECLAS Mayo 2021.xlsx
~$Comp SComún_2020-2021 CS-FT.xlsx
~$TABLA_Comp-abundancia crucero reclas 21-05_MariaJosé.xlsx
